@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face {
  font-family: 'Hebrew';
  src: url('../../fonts/OpenSansHebrewRegular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

$font-main: 'Inter', sans-serif;
$font-accent: 'Hebrew', sans-serif;

body {
  background-color: $background;
  font-family: $font-main;
  font-size: $font-size-md;
  color: $main;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}
