$font-size-xl: 36px;
$font-size-lg2: 25px;
$font-size-lg: 18px;
$font-size-md: 16px;
$font-size-base: 15px;
$font-size-sm: 14px;
$font-size-xs: 12px;

$line-height-xl2: 43.2px;
$line-height-xl1: 30px;
$line-height-xl: 24.51px;
$line-height-xl: 24.51px;
$line-height-lg: 18.15px;
$line-height-md: 19.36px;
$line-height-sm: 16.94px;
$line-height-xs: 14.52px;

$font-weight-black: 800;
$font-weight-lg2: 700;
$font-weight-bold: 600;
$font-weight-regular: 400;
$font-weight-light: 300;

$main: #4f4f55;
$placeholder: #dcdcdc;
$active: #4c73e3;
$white: #fff;
$background: #f3f7f8;
$yellow: #f2c94c;
$hover: #88a4f5;
$border-default: #dee4f0;
$border-hover: #35a500b2;
$border-error: #bf0003;
$action-hover: #f0ffe9;
