@use '../../../src/scss/main' as *;

.header-wrapper {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: $active;
  z-index: 10000;
}

.header {
  max-width: 1300px;
  height: 71px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: $font-accent;
}

.header-left {
  margin: 20px 0;
  background-color: $white;
  width: 31px;
  height: 31px;
  border-radius: 50%;
}

.header-right {
  display: flex;
  height: 100%;
  align-items: stretch;
}

.link {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 20px;
  text-decoration: none;
  transition: background-color 0.2s;

  position: relative;
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    bottom: 18px;
    left: 20px;
    right: 100%;
    height: 6px;
    background-color: $yellow;
    transition: right 0.3s ease;
  }

  &:hover::after {
    right: 20px;
  }
}

.active-link {
  background-color: $hover;
}

.header-text {
  color: $white;
}
