@use '../../../scss/main' as *;

.react-datepicker-wrapper {
  width: 275px;
}

.react-datepicker__input-container {
  width: 100%;

  input {
    padding: 12px 12px 12px 20px;
    font-size: $font-size-base !important;

    &::placeholder {
      color: $placeholder;
      opacity: 1;
    }
  }
}

.react-datepicker-popper {
  z-index: 3;
}

.react-datepicker {
  border-radius: 16px;
  border: 1px solid #e0e0e0;
  background-color: #ffffff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

  &__header {
    background-color: $white;
    color: $main;
  }

  &__current-month {
    color: #333333;
    font-weight: bold;
  }

  &__day {
    font-size: 1rem;
    color: #333333;

    &--selected {
      background-color: #007bff;
      color: #ffffff;
    }

    &--in-range {
      background-color: #e0f0ff;
      color: #007bff;
    }

    &:hover {
      background-color: #f0f0f0;
    }
  }

  &__navigation-icon::before {
    border-color: #007bff;
  }

  &__day--today {
    border: 1px solid #f1f4fc;
  }
}

.custom-datepicker-input {
  position: relative;
  width: 100%;

  input {
    padding-right: 40px !important;
    width: 100%;
    cursor: pointer;
  }

  .calendar-icon {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
  }
}

.react-datepicker__close-icon {
  right: 30px;
}

.react-datepicker__day--in-range {
  background-color: #e0f0ff;
  color: $active;
}
